kbd{
	display: inline-block;
	border: 1px solid red;
	width: 50px;
	height: 40px;
	font-size: 16px;
	margin: 0 10px;
	text-align: initial;
	position: relative;
}
kbd button{
	font-size: 12px;
	position: absolute;
	bottom: 0;
	right: 0;
	display: none
}

kbd:hover{
	cursor: pointer;
}
kbd:hover button{
	display: inline-block;
}
.wrapper > div{
	text-align: center;
	margin: 20px;
}